

.ioscontainer {
  
  border: 0;
  width: 400px;
  height:650px;
  padding: 10px;
  margin: auto;
  background-color: black;
  border-radius: 30px;
  text-align: center;
  position: relative;
  top: 110px;
}
.ioscontainer form input[type="text"]{
  
  width:95%;
  padding: 10% 3%;
  background-color:black;
  border: none;
  outline: none;
  text-align:right;
  color: white;
  font-size: 4em;
}

.ioscontainer form button[type="button"].ac{
  
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #9e9e9e;
}

.ioscontainer form button[type="button"]{
  border: 0;
  width:80px;
  height: 80px;
  font-size:2em;
  border-radius: 50%;
  margin-bottom: 10px;
}

.ioscontainer form button[type="button"].z{
  width:160px;
  border-radius: 25px;
}

.operator{
  background-color: #f79013;
  color: white;
}

.iosnumber{
  background-color:#333333;
  color:white;
}

.ioscontainer form button[type="button"]:hover{
  color:cornflowerblue;
}

.ioscontainer form button[type="button"]:active{
  color:rgb(255, 255, 255);
}