@import url('https://fonts.googleapis.com/css2?family=Poppins');
html{
    height: 100%;
    width: 100%
   
}
* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: gray;
    display: flex;

    justify-content: space-between; 
    align-items: center;
    z-index: 99;
}
/*justify-content: space-between; push to right keep follow to left
*/
.logo {
   font-size: 1.5em;
   color: #fff;
   user-select: none; 
}

.header .navigation a{
    position: relative;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;

    font-weight: 500;
    margin-left: 40px;
    
}
.header .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.header .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}


.banner {
    color:rgb(94, 157, 216);
   padding:0;
   margin: 0;
   background: url('background.jpg') no-repeat;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   text-align: center;
}

.bannerline{
    font-size:30px;
    font-weight:100;
    margin: 1em 0 1.5em 0;
    padding: 0;
}

.banner h1{
   
    font-size: 56px;
    padding: 4em 0 0 0;
    margin: 0;
    clear: both;
}

.banner a{

    background-color: rgb(94, 157, 216);
}

.banner_btn {
    text-decoration: none;
    margin: 0em 0 50em 0;
    
}

.banner a p{
    color:rgb(255, 255, 255);
    background-color:rgb(94, 157, 216);
    width:180px;
    padding: 0.75em 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    font-weight: bold;

}

.row {
    width:100%;

}

.row_cell{
    color:rgb(94, 157, 216);
    width: 200px;
    height:200px;
    display: inline-block;
    text-align:center;
    margin: 1em 5em;
    border: solid 3px rgb(94, 157, 216);
    border-radius: 25px;
    font-size:15px;
}

.row_cell img{
    width:100px;
    height: auto;
    margin: 2em 0 0 0;
}